@media (min-width: 576px)
.form-inline .form-control {
    width: non-auto;
}

.main-selectors-div {
    margin-top: 30px;
    /* margin-bottom: 10px; */
    /* padding-bottom: 20px; */
}

.add {
    display: inline-block;
}

.stage-def-inputs {
    margin-left: 30px;
    margin-bottom: 30px;
}

.extra-margin {
    margin-left: 26px;
}

.medium-icon {
    font-size: 3rem;
}

.samll-margin {
    margin-left: 16px;
}

.small-padding {
    padding: 16px;
}

.medium-margin-right {
    margin-right: 26px;
}

.rightmost-control {
    margin-left: auto;
}

.green-control {
    color: greenyellow;
}

.red-control {
    color: red;
}

.stage-headline {
    padding-top: 16px;
}

.marginCard {
    margin-top: 10px;
}

.displayInline {
    display: inline-block;
}

.align-form-label {
    margin-top: 5px;
    margin-right: 10px;
}

.modal-body input {
    margin-bottom: 10px;
}

.seperator {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: chocolate;
    font-size: 5px;
}

.seperators-div {
    margin-top: 30px;
    margin-left: 50px;
}

.seperate-row {
    margin-top: 25px;
}


/* margin-bottom: auto; */


/* } */

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
    display: block;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

.toggle-off {
    background-color: gainsboro;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
    display: block;
    margin-bottom: 15px;
    /* margin-top: 25px; */
    /* margin-left: 15px; */
}

.display-block {
    display: block;
}

.drag_to_remove {
    font-size: 2rem;
    margin-top: 25px;
    margin-left: 30px;
    color: black;
    /* padding: 0 ; */
}

.drag_to_remove:hover {
    scale: 1.1;
    border: 1px dashed dark;
}

.draagable-ul-title {
    margin-bottom: 0px;
}

#modal_ul label {
    margin-bottom: 0px;
}

.main-form-analyse {
    height: 500px;
}

.main-form-run {
    height: 600px;
    width: 900px;
}

.list-div {
    overflow-y: scroll;
    height: 180px;
}

.modal-content {
    width: 2500px;
    margin-left: auto;
    margin-right: auto;
}

.modal_meta_data{
    padding-top: 5px;
    padding-bottom: 15px;
    margin-right: 10px;
    background-color: whitesmoke;
    width: 250px;
    height: 500px;
}

.function-change-name{
  margin-top: 20px;
}

.modal_alert_class{
  margin-bottom: 0px;
  margin-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
}

#main_modal_alert_button{
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.modal_filter_icon{
  background-color: whitesmoke;
  border: none;
  margin-bottom: 8px;
  margin-right: 2px;
}

.modal_main_data{
    padding-top: 5px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
    width: 480px;
    height: 500px;
}

.Modal_input{
  margin-left: 5px;
  width: 150px;
}

.Modal_filter{
  margin-left: 5px;
  width: 110px;
  font-size: 14px;
}

.Modal_filter_Tags{
  margin-left: 15px;
  width: 220px;
  font-size: 14px;
}

.form-inline .modal-fix-label{
  width: 50px;
  display: inline-block;
  text-align: left;
  margin-right: 15px;
}

.form-inline .modal-fix-width-label {
    width: 125px;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
}

#Adnvaced_defintions_modal .form-inline {
    margin-top: 15px;
}

.modal_seperator {
    font-size: 1rem;
}

.modal-change-name{
  margin-top: 7px;
}

.modal_seperator_line{
  margin-top: 3px;
}

.normal-size {
    font-size: 2rem;
    margin-left: 12px;
    color: black;
}

.adapt-icon-size {
    font-size: 1.8rem;
    margin-left: 12px;
    color: black;
    margin-top: 2px;
    border: none;
    background-color: white;
}

.layout-buttons-div button {
    background: white;
    border: None;
}

.dropdown-selected {
    background-color: #0779e4;
}

.modal_group {
    width: 180px;
}

.modal_function {
    width: 180px;
}

.modal span.toggle-handle.btn.btn-default {
    background-color: white;
    border-color: gray;
}

toggle.btn.btn-default {
    border-color: gray;
}

.lable-Toggle-Function_Or_Group-Modal {
    margin-top: 7px;
    margin-left: 20px;
}

.label-adition-modal {
    margin-top: 7px;
    margin-left: 3px;
}

.fas.seperator {
    font-size: 1rem;
}

.Modal_GroupFunctionName_Select {
    margin-left: -10px;
}

#Modal_Group_Description{
    margin-left: 5px;
}