.main_form {
    padding: 20px 0;
}

.layout-buttons-div {
    margin-bottom: 20px;
}

.normal-size {
    font-size: 2.5rem;
    margin-left: 20px;
    color: black;
}

.adapt-icon-size {
    font-size: 2.2rem;
    margin-left: 20px;
    color: black;
    margin-top: 2px;
}

.main_form {
    background-color: whitesmoke;
    /* width: 73%; */
    /* margin-left: auto; */
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: auto;
    width: 180vh;
}

span.toggle-handle.btn.btn-default {
    background-color: whitesmoke;
}

hr {
    width: 70%;
    height: 5px;
    background-color: whitesmoke;
    border-style: dashed;
    border-color: gray;
    box-sizing: 10px 0 0 0;
    margin: 50px auto;
}

.form-inline {
    margin-left: 40px;
    margin-top: 20px;
}

.medium-margin {
    margin-left: 20px;
}

#output-dir {
    width: 40%;
}

.layout-buttons-div {
    margin-left: 40px;
    margin-top: 20px;
}

.seperator {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: chocolate;
}

.seperators-div {
    margin-top: 40px;
    width: 50px;
}

.project-label {
    width: 160px;
}

.site-data-div .first-column h3 {
    width: 180px;
}

.site-data-div .first-column h5 {
    FONT-WEIGHT: 200;
    FONT-WEIGHT: 200;
    width: 200px;
    /* width: 140px; */
}

.site-data-div .second-column h3 {
    width: 180px;
}

.site-data-div .second-column h5 {
    width: 130px;
}

.site-data-div .second-column input[type=text] {
    width: 120px;
}

.site-data-div {
    margin-top: 20px;
    margin-bottom: 50px;
}

.first-div .form-inline h5 {
    width: 100px;
}

.second-div .form-inline h5 {
    width: 180px;
    margin-left: 50px;
}

strong {
    font-weight: 500;
}


/* .right-align-container {
    display: flex;
    justify-content: flex-end;
    text-align: end;
} */

button {
    background-color: whitesmoke;
    border: none;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* padding-right: 100px; */
}


/* .flex-container .toend {
    justify-self: flex-end;
} */