#window-title {
    font-family: cursive;
    font-size: 2rem;
    color: #ff4c68;
}

.octopus-img {
    width: 50px;
    border-radius: 100%;
    border-color: blueviolet;
    border-style: dashed;
    /* object-fit: scale-down; */
  }

  .octopus-img:hover{
    border-color: goldenrod;
    border-style: dashed 5px;
    /* object-fit: scale-down; */
  }

h6 {
    display: inline-block;
}

.nav-item {
  text-align: center;
  margin: 0 10px 0;
}

/* #window-title-div{
  margin: auto;
} */

