#window-title {
    font-family: cursive;
    font-size: 2rem;
    color: #ff4c68;
}

.octopus-img {
    width: 8%;
  }

h6 {
    display: inline-block;
}

.nav-item {
  text-align: center;
  margin: 0 10px 0;
}

#brand-image {
  max-width:10%;
}

