#window-title {
    font-family: cursive;
    font-size: 2rem;
    color: #ff4c68;
}

.octopus-img {
    width: 50px;
    /* object-fit: scale-down; */
  }

h6 {
    display: inline-block;
}

.nav-item {
  text-align: center;
  margin: 0 10px 0;
}

/* #window-title-div{
  margin: auto;
} */

