.meta_data{
    padding-top: 5px;
    padding-bottom: 15px;
    margin-right: 10px;
    background-color: whitesmoke;
    width: 25%;
}
.meta_data label{
    margin-top: 10px;
}

.layout-buttons-div{
    margin-bottom: 20px;
}

.normal-size{
    font-size: 2.5rem;
    margin-left: 20px;
    color: black;
}

.adapt-icon-size{
    font-size: 2.2rem;
    margin-left: 20px;
    color: black;
    margin-top: 2px;
}

.main_form{
    background-color: whitesmoke;
    width: 73%;
    margin-left: auto;
}

span.toggle-handle.btn.btn-default {
    background-color: whitesmoke;
}