.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
}

.content-flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.row-header {
    background-color: aquamarine;
}

.collapse-button,
.tab-button {
    background-color: inherit;
    border: none;
}

#SetupContent .nav-link {
    color: black;
}

.normal-margin {
    margin-left: 16px;
}

.action-buttons button,
.fas-button {
    background-color: white;
    border: none;
}

.normal-size {
    font-size: 2.5rem;
    margin-left: 10px;
    color: black;
}

.adapt-icon-size {
    font-size: 2.2rem;
    margin-left: 10px;
    color: black;
    margin-top: 2px;
}

span.toggle-handle.btn.btn-default {
    background-color: whitesmoke;
}

.statistics-div {
    color: gray;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

#results_div {
    min-height: 500px;
}

#statistics_table_div {
    margin-left: auto;
    margin-right: auto;
}

#SetupHeader .run-button {
    margin-left: auto;
}

#AnalyseContent table td .status {
    font-size: 3rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100px;
}

#AnalyseContent table td:nth-child(n+5):hover {
    border-color: blue;
    box-shadow: 2px 4px 2px 4px gray;
}

#AnalyseContent table td {
    text-align: center;
    vertical-align: middle;
}

#AnalyseContent table td:nth-child(-n+4) {
    font-size: 1.5rem;
}

select[multiple] {
    overflow-y: auto;
}

.table-controls-div {
    font-size: 2.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    flex-direction: column;
    padding-right: 30px;
}

.table-controls-div .fa-calendar-check {
    margin-top: 40px;
}

.flex-button-column {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: flex-end; */
}

#chosen_runs_div .fas-button i,
#chosen_functions_div .fas-button i {
    font-size: 2rem;
}

#chosen_runs_div span,
#chosen_functions_div span {
    font-size: 1rem;
}

#num_of_tests {
    align-self: center;
    font-size: 1.5rem;
}

.card {
    border-width: 3px;
    border-color: rgb(33, 20, 220);
}