td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

#results_table_div td:nth-child(n+5) {
    color: white;
    font-weight: bolder;
}

datalist option {
    text-align: left;
    width: 50px;
    font-size: 3rem;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td:hover {
    background-color: #17ebce;
}

.result-output-text h1 {
    color: #01a9b4;
}

.result-output-text h3 {
    margin-top: 20px;
}

#results_table_div {
    margin-top: 40px;
    overflow: auto;
    max-height: 400px;
    /* width: 50%; */
}

.results_statistics_div {
    height: 30%;
}

#drill_down_table_div {
    overflow: auto;
    /* overflow: scroll; */
    max-height: 700px;
}

.run-select-card-body,
.function-select-card-body {
    background-color: whitesmoke;
}

.run-select-card-header,
.function-select-card-header {
    background-color: white;
}

.draggble_list_div {
    overflow: hidden;
    overflow-y: scroll;
}

.draggble_list_div li .row {
    padding: 5px 20px 5px 20px;
}

.draggble_list_div li label {
    margin-bottom: 0px;
}

.run-select-card-body .draggble_list_div {
    height: 310px;
}

.run-select-card,
.function-select-card {
    height: 610px;
    width: 17%;
}

.display-results-div {
    width: 60%;
    height: 610px;
}

.function-select-card-body .draggble_list_div {
    height: 400px;
}


/* #results_table_div {
    height: 40%;
} */

.results_statistics_div {
    height: 20%;
}

.draggble_list_div button {
    border: none;
    border-radius: 100%;
}

.function {
    background-color: #01a9b4;
}

.group {
    background-color: gold;
}

.run_id {
    background-color: white;
}

.card {
    border-color: blue;
    border-width: 2px;
}

.dropdown-selected {
    background-color: #0779e4;
}

.dropdown-selected:hover {
    background-color: #0779e4;
}

.alert {
    /* position: absolute;
    left: 800px;
    top: 31px;
    z-index: 1; */
    margin-left: 30px;
    margin-bottom: 0px;
}