body {
    background-color: #fcf8e8;
}

.user-name {
    /* background-color: gray; */
    /* border-radius: 100%; */
    display: inline-block;
    padding: 1%;
}

.addGroupButton {
    border-radius: 5%;
    background-color: whitesmoke;
    border: 1px solid #ced4da;
}

.draggable {
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
}

.modal_seperator {
    font-size: 1rem;
}

.modal-content {
    height: 600px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

button#newGroupButton {
    background-color: whitesmoke;
    border None;
    background-color: #e8f9e9;
    border-style: none;
    font-size: 1.5rem;
    border-radius: 50%;
    margin-left: 16px;
}

.some_datalist {
    width: 80px;
}

#fixed-menus {
    /* margin-top: 10px; */
    margin-left: 1%;
    /* margin-top: 5%; */
    position: fixed;
}

#fixed-menus select {
    margin-top: 0px;
    /* margin-bottom: 10px; */
}

.GroupOrFunction_Name {
    width: 200px;
}

.GroupOrFunction_Name_Label {
    margin-top: 10px;
}


/* #fixed-menus  */

select:hover {
    box-shadow: inset 0 -3rem 3rem rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.form-inline .modal-fix-width-label {
    width: 125px;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
}

.function-definition-header {
    text-align: center;
    margin-top: 30px;
    font-size: 4rem;
    font-weight: bold;
    font-family: cursive;
}

.fixed-buttons-div {
    margin: 0 0 0 2%;
    padding: 0.41% 0.625%;
    position: relative;
    height: 60%;
    width: 9%;
}

#functions-and-groups-menus {
    margin: 5% 0 0 1.2%;
    padding: 0.41% 0.625%;
    /* position: relative; */
    /* height: 60%;
    width: 9%; */
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.functions-and-groups-select-div {
    padding: 2% 2%;
    margin: 2%;
    /* max-width: 20%; */
}

.functions-and-groups-select-div .form-control {
    margin: 1% 0 2% 0;
    /* max-width: 20%; */
}

.functions-and-groups-select-div .fas {
    color: black;
    display: block;
}

.functions-and-groups-select-div a {
    margin-top: 5%;
    margin-bottom: 20%;
    text-align: right;
    display: block;
    /* max-width: 20%; */
}

.functions-and-groups-select-div .fas:hover {
    color: blue;
}

.functions-and-groups-selected-div {
    margin-left: auto;
}


/* #fixed-menus .fix-buttons-ancor:hover {
    background-color: gainsboro;
} */

.card-img-top {
    margin: 25px 0px;
    max-width: 100%;
    display: block;
}

.fixed-fields-div {
    margin: 0 0 0 6%;
    padding: 20px 20px;
    position: relative;
    height: 60%;
    width: 300px;
}

.user-select {
    display: inline-block;
    width: 70%;
    margin-right: 20px;
}

.version-select {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}

.fas {
    /* font-weight: 100; */
    font-size: 1.5rem;
    margin-right: 10px;
}

.inline-icon {
    padding-top: 2px;
    display: inline-block;
}

.row-fix-form {
    text-align: center;
    margin: 0 0 0 0px;
}


/* section main-from*/

#main-from {
    margin-top: 7%;
    margin-left: 500px;
}

.form-control {
    margin-bottom: 12px;
    width: 100%;
}

.main-form-card-body {
    background-color: #e8f9e9;
    border-top: solid dimgray 1.5px;
}

#input_parameters button {
    background-color: #e8f9e9;
    border-style: none;
    /* border-radius: 50%; */
}

.main-form-card-body button i:hover {
    color: blue;
    /* background-color: #e7e7e7; */
}

.main-form-card-body button:active {
    border-style: none;
}

.main-form-card {
    max-width: 90%;
}

.input-groups-data {
    border-left: dotted lightgreen 2px;
    padding-right: 20px;
    padding-left: 5px;
}

#main_alert {
    position: absolute;
    left: 24px;
    top: 76px;
    z-index: 1;
    font-size: 1.5rem;
}

#modal_alert {
    position: absolute;
    left: 300px;
    top: 10px;
    z-index: 1;
}

#GroupsList {
    position: relative;
    height: 300px;
    margin-left: 30px;
    /* overflow-y: scroll; */
}

#GroupsList div {
    width: 130px;
    font-weight: normal;
}

.input-groups-data label {
    margin-left: 7px;
}

.group {
    width: 150px;
}

.function {
    width: 150px;
}


/*
.input-form {
    margin-left: 0px;
}
 */

.input-function-data {
    padding-left: 0px;
}


/* .main-form-card table{
    text-align: center;
    margin-top: 2%;
} */

table {
    text-align: center;
    margin-top: 2%;
}

.table-select {
    background-color: #e8f9e9;
    position: relative;
    width: 69%;
    margin: auto;
    padding-right: 10px;
}

td input {
    width: 5%;
}

td button {
    background-color: #e8f9e9;
    border-radius: 50%;
    border-style: none;
}

td button:hover {
    background-color: #e7e7e7;
}


/* .table-option {
    background-color: black;
 } */

td option {
    padding-left: 20px;
}

.oper_line {
    display: block;
}

#Tree {
    margin-left: 500px;
}

.tree {
    margin: 0 auto;
    border: solid 2px;
    height: 100px;
    width: 180px;
    border-radius: 5%;
    background-color: #e9ffff;
}

.tree:hover {
    border: dashed 5px;
    height: 100px;
    width: 300px;
}

.tree-text {
    max-width: 60%;
    max-height: 40%;
    margin-left: 10%;
}

.tree-text:hover {
    max-width: none;
    max-height: none;
}

.tree-text:focus {
    max-width: none;
    max-height: none;
}

.trash-icon-tree {
    margin-top: 3%;
    font-size: 1.75rem;
    visibility: collapse;
}

.add-icon-tree {
    margin-top: 2%;
    margin-left: 10%;
    visibility: collapse;
}

.tree:hover .add-icon-tree {
    visibility: visible;
}

.tree:hover .trash-icon-tree {
    visibility: visible;
}