.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20px; 
    display: block;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .toggle-off { 
    background-color: gainsboro; 
  }
  .toggle.ios .toggle-handle { 
    border-radius: 20px; 
    display: block;
    margin-bottom: 15px;
    /* margin-top: 25px; */
    /* margin-left: 15px; */
  }