body {
    background-color: grey;
    text-align: center;
    font-family: fantasy;
}

.dice_img_1 {
    content: url(../Images/Dice_1.png);
}

.dice_img_2 {
    content: url(../Images/Dice_2.png);
}

.dice_img_3 {
    content: url(../Images/Dice_3.png);
}

.dice_img_4 {
    content: url(../Images/Dice_4.png);
}

.dice_img_5 {
    content: url(../Images/Dice_5.png);
}

.dice_img_6 {
    content: url(../Images/Dice_6.png);
}

.hidden_flag {
    visibility: hidden;
}

.visible_flag {
    visibility: visible;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h1, h2 {
    color: darkgreen;
}