{% extends "layout.html"%} 

{% block css %}
<link rel="stylesheet" href="../static/css/db_conn_wizard.css" />
{% endblock %} 

{%block content%}
<br />
<br />
<br>
<div class="alert alert-warning alert-dismissible fade show" role="alert" hidden="hidden">
    <strong id="dissmisable_alert_text"></strong>
    <button type="button" class="close" data-hide="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row mx-4 my-1">
  <div class = "col-6 mr-auto jumbotron">
    <h1>Define New Connection</h1>
    

    <div class="row">
        <div class="col-5">
            <label for="db_type">Type</label>
            <select type="text" id="db_type" class="form-control">
            <option value="POSTGRESQL">POSTGRESQL</option>
            <option value="MYSQL">MYSQL</option>
            <option value="ORACLE">ORACLE</option>
            <option value="SQLITE">SQLITE</option>
            </select>
        </div>
        <div class="col-5">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" />
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <label for="user">User</label>
            <input class="form-control" type="text" id="user" />
        </div>
        <div class="col-5">
            <label for="password">Password</label>
            <input class="form-control" type="text" id="password" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-8">
            <label for="hostname">Hostname</label>
            <input class="form-control" type="text" id="hostname" />
        </div>
        <div class="col-2">
            <label for="port">Port</label>
            <input class="form-control" type="text" id="port" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-5">
            <label for="schema">Schema</label>
            <input class="form-control" type="text" id="schema" />
        </div>
    </div>
    
    <br>
    <input class="btn btn-lg btn-success" type="button" value="Save" id="save_button" />
  </div>

  <div  class = "col-6 ml-auto jumbotron bg-light">
    <h1>Existing Connections</h1>
    <div class="row">
        <div class="col-10">
            <label for="current_connections">Choose:</label>
            <select class="form-control success-outline" name="current_connections" id="current_connections"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label for="disp_name">Name: </label>
            <text class="form-control" id="disp_name"></text>
        </div>
        <div class="col-5">
            <label for="disp_db_type">Type: </label>
            <text class="form-control" id="disp_db_type"></text>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label for="disp_user">User: </label>
            <text class="form-control" id="disp_user"></text>
        </div>
        <div class="col-5">
            <label for="disp_password">Password: </label>
            <text class="form-control" id="disp_password"></text>
        </div>
        
    </div>
    <div class="row">
        <div class="col-8">
            <label for="disp_host">Hostname: </label>
            <text class="form-control" id="disp_hostname"></text>
        </div>
        <div class="col-2">
            <label for="disp_port">Port: </label>
            <text class="form-control" id="disp_port"></text>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label for="disp_schema">Schema: </label>
            <text class="form-control" id="disp_schema"></text>
        </div>
    </div>
    <input class="btn btn-lg btn-danger mt-4 mr-auto" type="button" value="Delete" id="delete_connection_button" data-toggle="modal" data-target="#exampleModalCenter"/>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id=delete_connection_modal_body>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id=confirm_delete_button>Confirm Delete</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
{% endblock %} {% block scripts%}
<!-- <script src="../static//js/jquery_3_4_1_min.js"></script> -->
<script src="../static/js/db_conn_wizard.js"></script>
{% endblock %}
