<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="db_type">Type</label>
    <select type="text" id="db_type">
        <option value="POSTGRESQL">POSTGRESQL</option>
        <option value="MYSQL">MYSQL</option>
        <option value="ORACLE">ORACLE</option>
        <option value="SQLITE">SQLITE</option>
    </select>
    <br>
    <label for="db_user">User</label>
    <input type="text" id='db_user'>
    <br>
    <label for="db_password">Password</label>
    <input type="text" id='db_password'>
    <br>
    <label for="db_host">Hostname</label>
    <input type="text" id="db_host">
    <br>
    <label for="db_port">Port</label>
    <input type="text" id="db_port">
    <br>
    <label for="db_schema">Schema</label>
    <input type="text" id="db_schema">
    <br>
    <input type="button" value="GO">
</body>
</html>