
<!-- modal -->

<div class="modal fade" id="defineGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ml-auto" id="exampleModalLongTitle">Define Group</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body" id="ModalGroupBody">
                <div id="analyse_stage_div">

                    <div class="row mx-auto layout-buttons-div">
                        <input id="Group_toggle" type="checkbox" checked data-toggle="toggle" data-on="New" data-off="Existing" data-onstyle="primary" data-offstyle="secondary" data-width="80">
                        <button id="Save_Group" aria-label="Save"><i class="far fa-save normal-size" ></i></button>
                        <button id="Duplicate_Group"><i class="far fa-file-alt adapt-icon-size"></i></button>
                        <button id="Delete_Group"><i class="far fa-trash-alt adapt-icon-size"></i></button>
                        <button id="Edit_Group"><i class="fa fa-pencil-alt adapt-icon-size"></i></button>
                    </div>
                    <div id="modal_alert" class="alert alert-warning alert-dismissible fade show" role="alert" hidden="hidden">
                        <strong id="modal_dissmisable_alert_text"></strong>
                        <button type="button" class="close" data-hide="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-inline seperate-row">
                        <label for="Modal_Select_Group_Name" class="modal-fix-width-label"><h5>Group Name:</h5></label>
                        <input list='Group_Function_Name' id="Modal_Select_Group_Name" type="text" class="input form-control GroupOrFunction_Name " placeholder="..." />
                    </div>
                    <datalist id='Group_Function_Name'>
                        <option value="data1"></option>
                        <option value="data3"></option>
                        <option value="data4"></option>
                        <option value="data2"></option>
                    </datalist>

                    <div class="form-inline seperate-row">
                        <label for="Modal_Group_Description"><h6>Group Description:</h6></label>
                        <textarea id="Modal_Group_Description" class="form-control" name="description" cols="80" rows="1"></textarea>
                    </div>

                    <hr>

                    <div class="row small-padding">
                        <div class="">
                            <label id="functions_select_label" for="functions_modal_select"><h5>select a function</h5></label>

                            <div class="input-group mb-3">
                                <input list="modal_datalist" class="form-control input" name="functions" id="functions_modal_select" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary add" type="button" id="add_function_button">Add</button>
                                </div>
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                <div class="dropdown-menu">
                                    <button id="functions_option" class="dropdown-item dropdown-selected">Function</button>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <button id="groups_option" class="dropdown-item">Group</button>
                                </div>
                                <datalist id="modal_datalist">

                                </datalist>
                            </div>
                            <!-- <div class="draggble_list_div">
                                <ul class='draggble_ul' id="functions_list">
                                </ul>
                            </div> -->
                        </div>
                        <!-- <div class="col-7">

                            <div class="form-inline">
                                <label for="Group_funciton_toggle" class="lable-Toggle-Function_Or_Group-Modal"><h6>Add &nbsp</h6></label>
                                <input class="display-block" type="checkbox" id="Group_funciton_toggle" checked data-toggle="toggle" data-on="Function" data-off="Group" data-onstyle="default" data-width="100">
                                <label for="Group_funciton_toggle" class="label-adition-modal"><h6>&nbsp to your list: </h6></label>
                            </div>

                            <div class="list">
                                <div>
                                    <input list='some_datalist' id="Modal_Group_Name" type="text" class="input form-control Modal_GroupFunctionName_Select" placeholder="Select" />
                                    <div class="add"><input class="btn btn-sm btn-secondary" type="button" value="add"></div>
                                </div>
                                <datalist id='some_datalist'>
                                <option value="data1"></option>
                                <option value="data3"></option>
                                <option value="data4"></option>
                                <option value="data2"></option>
                            </datalist>
                            </div>
                        </div> -->

                        <div class="col-1 seperators-div">
                            <i class="fas fa-circle seperator"></i>
                            <i class="fas fa-circle seperator"></i>
                            <i class="fas fa-circle seperator"></i>
                        </div>

                        <div class="col-5 mx-auto">
                            <label for="chosen_list" class="draagable-ul-title"><h5>Chosen list:</h5></label>
                            <ul class='draggble_ul list-div' id="modal_ul">

                            </ul>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
