{% extends "metadata_layout.html" %} {% block main_form_css %}
<link rel="stylesheet" href="../static/css/define_complex_net.css"> {% endblock %} {% block main_form %}

<div class="row external_simulators_div">
</div>
<div class="row seperator">
    <i class="fas fa-circle"></i> <i class="fas fa-circle"></i> <i class="fas fa-circle"></i>
</div>
<div class="row sensors_div_line1">
</div>

<div class="row sensors_div_line2">


</div>
{% endblock %} {%block scripts%}

<!-- <script src="../static/js/OctoUtils.js"></script> -->
<!-- <script src="../static/js/default_skin.js"></script> -->
<script src="../static/js/define_complex_net2.js"></script>

{% endblock %}