{% extends "layout.html"%} {% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome/css/all.css')}}" />
<link rel="stylesheet" href="../static/css/draggable_list.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/metadata_layout.css" />
<link rel="stylesheet" href="../static/css/Function_Definition_Modal.css" />
<link rel="stylesheet" href="../static/css/styles.css" /> {% endblock %} {%block content%}



<section id="fixed-menus">
    <div class="row">
        <div class="fixed-buttons-div card bg-secondary shadow-lg">
            <a role="button" href="#" class="fix-buttons-ancor" name="new_function_button"><img class="card-img-top img-responsive" src="{{url_for('static',filename='icons/magic-wand.png')}}" alt="Card image cap" /></a>
            <a role="button" href="#" class="fix-buttons-ancor" name="save_function_button"><img class="card-img-top img-responsive" src="{{url_for('static',filename='icons/save.png')}}" alt="Card image cap" /></a>
            <a role="button" href="#" class="fix-buttons-ancor"><img class="card-img-top img-responsive" src="{{url_for('static',filename='icons/folder-13.png')}}" alt="Card image cap" /></a>
            <a role="button" href="#" class="fix-buttons-ancor"><img class="card-img-top img-responsive" src="{{url_for('static',filename='icons/edit.png')}}" alt="Card image cap" /></a>
            <a role="button" href="#" class="fix-buttons-ancor"><img class="card-img-top img-responsive" src="{{url_for('static',filename='icons/repeat.png')}}" alt="Card image cap" /></a>
            <a role="button" href="#" class="fix-buttons-ancor"><img class="card-img-top img-responsive" src="{{url_for('static',filename='icons/play-button-1.png')}}" alt="Card image cap" /></a>
        </div>
        <div class="fixed-fields-div card shadow-lg bg-primary text-light rounded">
            <label for="select_function">Search Function</label>
            <select class="form-control" name="function_select" id="select_function">
            <option value="">a</option>
            <option value="">b</option>
            <option value="">C</option>
          </select>
            <label for="select_user">User</label>
            <div class="row row-fix-form">
                <select class="form-control user-select" name="owner" id="select_user">
              <option value="">a</option>
              <option value="">b</option>
              <option value="">C</option>
            </select>

                <i class="fas fa-user-astronaut fas-7x inline-icon"></i>

            </div>
            <label for="select_version">Version</label>
            <div class="row row-fix-form">
                <select class="form-control version-select" name="version" id="select_version">
              <option value="">a</option>
              <option value="">b</option>
              <option value="">C</option>
            </select>
                <i class="fas fa-check-circle inline-icon"></i>
                <i class="fas fa-star inline-icon"></i>
            </div>
            <label>Changed Date</label>
            <input class="form-control" name="changed_date" type="text" value="02/02/2020 15:20" disabled></input>
            <label>Function Checksum</label>
            <input class="form-control" name='function_checksum' type="text" value="66e6s66q8s8ss" disabled></input>
            <label for="">Version Comments</label>
            <textarea class="form-control" name="version_comments" id="" cols="30" rows="7"></textarea>
        </div>
    </div>
</section>

<section id="main-from">

    <div class="card bg-light mb-3 main-form-card">
        <div class="row card-body main-form-card-body">
            <div class="input-function-data col-9">

                <div class="row">
                    <div class="function-input-row col-5">
                        <label><strong>Function Name</strong></label>
                        <input class="form-control" type="text" name="name"></input>
                    </div>
                    <div class="function-input-row col-3">
                        <label><strong>Status</strong></label>
                        <select class="form-control" type="text" name="Status">
                          <option value="Needed">Needed</option>
                          <option value="In Dev">In Dev</option>
                          <option value="Complete">Complete</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="function-input-row col-3">
                        <label>Feature</label>
                        <input class="form-control" type="text" name="features"></input>
                    </div>
                    <div class="function-input-row col-3">
                        <label>Requirement</label>
                        <input class="form-control" type="text" name="requirement" value="some_link">
                    </div>

                    <div class="function-input-row col-4">
                        <label>Tags</label>
                        <input class="form-control" type="text" name="tags"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="function-input-row col-8">
                        <label>Function Callback</label>
                        <input class="form-control" type="text" id="functionCallback" name="callback"></input>
                    </div>
                    <div class="function-input-row col-3">
                        <label>Kind</label>
                        <input class="form-control" type="text" name="kind"></input>
                    </div>
                </div>


                <div class="row">
                    <div class="function-input-row col-10">
                        <label>Function Location</label>
                        <input class="form-control" type="text" id="functionLocation" name="Location"></input>

                        <!--
                      <div class="custom-file input-group">
                        <input class="custom-file-input" type="file" id="functionLocation" name="location" aria-describedby="myInput">
                        <label class="custom-file-label" id="functionLocationLabel" for="myInput">Choose file</label>
                      </div> -->

                    </div>
                </div>

                <!-- <div class="row">
                        <div class="function-input-row col-10">
                            <label>Function Location</label>
                            <input class="form-control" type="text" name="location" id="functionLocation"></input>
                        </div>
                  </div> -->

                <div class="row">
                    <div class="function-input-row col-10">
                        <label>Description</label>
                        <input class="form-control" type="text" name="description"></input>
                    </div>
                </div>

                <div class="function-input-row">
                    <label> Output </label>
                </div>

                <div class="row">
                    <div class="function-input-row col-3">
                        <input type="checkbox" id="isOutputIsAClass" name="isOutputIsAClass" onclick="calc();">
                        <label for="isOutputIsAClass"> Is a class </label><br>
                    </div>

                    <label class="mr-3"> Class Name: </label>
                    <input class="form-control col-4" type="text" id="className" name="outputClassName"></input>

                </div>

            </div>


            <div class="input-groups-data col-3">
              <div class="function-input-row col-12">
                <label for="group_input">Groups</label>
                <button type="button" name="button" id = "newGroupButton" data-toggle="modal" data-target="#defineGroupModal" >   <i class="fa fa-plus-circle" aria-hidden="true"></i> </button>
              </div>


                <div class="function-input-row col-12 input-group mb-3">
                  <input type="text" list="groups_datalist" id="group_input" class="form-control" placeholder="..."  aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary addGroupButton" id="addGroupButton" type="button">Add</button>
                  </div>
                </div>


                <!-- <input type="text" class="form-control ml-2"><span>+</span> -->
                <datalist id="groups_datalist">
                  <option value="group1">group1</option>
                  <option value="group2">group2</option>
                  <option value="group3">group3</option>
                </datalist>
                <ul name= "GroupsListNames" id="GroupsList">

                </ul>
            </div>
        </div>
    </div>


    <div id="input_parameters" class="card bg-light mb-3 main-form-card">
        <div class="row card-body main-form-card-body">
            <label>Inputs:</label>
            <button name="plus_param_row_button" class="ml-auto"> <i class="fas fa-plus-circle"></i></button>
            <!-- //plus_param_row_button -->

            <table class="table table-hover" name="function_parameters">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kind</th>
                        <th scope="col">Val</th>
                        <th scope="col">Type</th>
                        <th scope="col">Remove</th>

                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>


        </div>

    </div>

    <div class="card bg-light mb-3 main-form-card">
        <div class="row card-body main-form-card-body">
            <div>
                <h5 class="mb-2">Function Oper Line:</h5>
                <h5 class="oper_line" name="funcOperLine">your_function(param1, param2, ...., paramN)</h5>
            </div>
        </div>
    </div>

</section>


<!-- <section id = "Tree">
        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
                <h4>Tree</h4>
                <div class="mx-auto">

                <div class="tree">
                    <h5 class="ml-3">#N223</h5>
                    <div class="row">
                        <textarea class = "tree-text" value="This Node..."></textarea>
                        <i class="fas fa-plus-circle add-icon-tree"></i>
                        <i class="far fa-trash-alt trash-icon-tree"></i>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </section> -->

    <div class="modal fade" id="defineGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" id="exampleModalLongTitle">Define Group</h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id=ModalGroupBody>
              <div  id="analyse_stage_div">

                <div class="row mx-auto layout-buttons-div">
                    <input id = "Group_toggle" type="checkbox" checked data-toggle="toggle" data-on="New" data-off="Existing" data-onstyle="primary" data-offstyle="secondary" data-width="80">
                    <button id = "Save_Group" aria-label="Save"><i class="far fa-save normal-size" ></i></button>
                    <button id = "Duplicate_Group"><i class="far fa-file-alt adapt-icon-size"></i></button>
                    <button id = "Delete_Group"><i class="far fa-trash-alt adapt-icon-size"></i></button>
                </div>
                <div class="form-inline seperate-row" >
                  <label for="Modal_Select_Group_Name" class = "modal-fix-width-label" ><h5>Group Name:</h5></label>
                  <input list='Group_Function_Name' id = "Modal_Select_Group_Name" type="text" class="input form-control GroupOrFunction_Name" placeholder="..."/>
                </div>
                    <datalist id='Group_Function_Name'>
                        <option value="data1"></option>
                        <option value="data3"></option>
                        <option value="data4"></option>
                        <option value="data2"></option>
                    </datalist>

                <div class="row seperate-row">
                  <div class "col-7">

                        <div class="form-inline">
                          <label for="Group_funciton_toggle" class = "lable-Toggle-Function_Or_Group-Modal" ><h6>Add &nbsp</h6></label>
                          <input class="display-block" type="checkbox" id="Group_funciton_toggle" checked data-toggle="toggle" data-on="Function" data-off="Group" data-onstyle="default" data-width="100">
                          <label for="Group_funciton_toggle" class = "label-adition-modal" ><h6>&nbsp to your list: </h6></label>
                        </div>

                      <div class="list" >
                          <div>
                            <input list='some_datalist' id = "Modal_Group_Name" type="text" class="input form-control Modal_GroupFunctionName_Select" placeholder="Select"/>
                            <div class="add"><input class="btn btn-sm btn-secondary" type="button" value="add"></div>
                          </div>
                            <datalist id='some_datalist'>
                                <option value="data1"></option>
                                <option value="data3"></option>
                                <option value="data4"></option>
                                <option value="data2"></option>
                            </datalist>
                      </div>
                    </div>

                      <div class="col-1 seperators-div">
                          <i class="fas fa-circle seperator"></i>
                          <i class="fas fa-circle seperator"></i>
                          <i class="fas fa-circle seperator"></i>
                      </div>

                      <div class="col-5 mx-auto">
                        <label for="chosen_list" class="draagable-ul-title"><h5>Chosen list:</h5></label>
                        <ul class='draggble_ul list-div' id="chosen_list">
                            <li class="draggable" draggable="false">HTML</li>
                            <li class="draggable" draggable="false">CSS</li>
                            <li class="draggable" draggable="false">JavaScript</li>
                            <li class="draggable" draggable="false">PHP</li>
                            <li class="draggable" draggable="false">MySQL</li>
                        </ul>
                      </div>

                    </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>


{%endblock%}
{%block scripts%}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="../static/js/draggble_list.js"></script>
<script src="../static/js/OctoUtils.js"></script>
<script src="../static/js/Functions_Definitions.js"></script>

{%endblock%}
