<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Function Definition</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome/css/all.css')}}" />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>

    <section id="navigation-bar" >
      <div class="container-fluid fixed-top">
        <!-- Nav Bar -->
        <nav class="my-navbar navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#"
            ><img
              class="octopus-img"
              src="{{url_for('static',filename='images/Octopus-Green.png')}}"
              alt=""
            />
            <h6 class="user-name">TheDude</h6>
          </a>
            <a class="navbar-brand" id="window-title" href="">Function Definition Window</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo2"
            aria-controls="navbarTogglerDemo2"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo2">
            <ul class="navbar-nav ml-auto">
                
              <li class="nav-item active">
                <a class="nav-link" href="Function_Definition">Define</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Function_Analysis">Run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=""> Results</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- <h1 class="function-definition-header">Function Definition Window</h1> -->
    </section>

    <section id="fixed-menus">
      <div class="row">
        <div class="fixed-buttons-div card bg-secondary shadow-lg">
          <a role="button" href="#" class="fix-buttons-ancor" name="new_function_button"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/magic-wand.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/save.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/folder-13.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/edit.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/repeat.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/play-button-1.png')}}"
            alt="Card image cap"
          /></a>
        </div>
        <div
          class="fixed-fields-div card shadow-lg bg-primary text-light rounded"
        >
          <label for="select_function">Search Function</label>
          <select
            class="form-control"
            name="function_select"
            id="select_function"
          >
            <option value="">a</option>
            <option value="">b</option>
            <option value="">C</option>
          </select>
          <label for="select_user">User</label>
          <div class="row row-fix-form">
            <select
              class="form-control user-select"
              name="owner"
              id="select_user"
            >
              <option value="">a</option>
              <option value="">b</option>
              <option value="">C</option>
            </select>

            <i class="fas fa-user-astronaut fas-7x inline-icon"></i>

          </div>
          <label for="select_version">Version</label>
          <div class = "row row-fix-form">
            <select
              class="form-control version-select"
              name="version"
              id="select_version"
            >
              <option value="">a</option>
              <option value="">b</option>
              <option value="">C</option>
            </select>
            <i class="fas fa-check-circle inline-icon"></i>
            <i class="fas fa-star inline-icon"></i>
          </div>
          <label>Changed Date</label>
          <input class="form-control" name="changed_date" type="text" value="02/02/2020 15:20" disabled ></input>
          <label>Function Checksum</label>
          <input class="form-control" name='function_checksum' type="text" value="66e6s66q8s8ss" disabled></input>
          <label for="">Version Comments</label>
          <textarea class="form-control" name="version_comments" id="" cols="30" rows="7"></textarea>
        </div>
      </div>
    </section>

    <section id = "main-from">

        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
              <div class="input-function-data col-10">

                  <div class="row">
                      <div class="function-input-row col-5">
                        <label>Function Name</label>
                        <input class="form-control" type="text" name="name"></input>
                      </div>
                      <div class="function-input-row col-2">
                        <label>Kind</label>
                        <input class="form-control" type="text" name="kind"></input>
                      </div>
                      <div class="function-input-row col-3">
                        <label>Tags</label>
                        <input class="form-control" type="text" name="tags"></input>
                      </div>
                      <div class="function-input-row col-2">
                        <label>Feature</label>
                        <input class="form-control" type="text" name="features"></input>
                      </div>
                  </div>

                  <div class="row">
                      <div class="function-input-row col-8">
                        <label>Function Callback</label>
                        <input class="form-control" type="text" name="callback"></input>
                      </div>

                      <div class="function-input-row col-1">
                        <i class="fas fa-ellipsis-h inline-icon" ></i>
                      </div>

                  </div>

                  <div class="row">
                        <div class="function-input-row col-10">
                            <label>Function Location</label>
                            <input class="form-control" type="text" name="location"></input>
                        </div>
                  </div>

                  <div class="row">
                        <div class="function-input-row col-10">
                            <label>Description</label>
                            <input class="form-control" type="text" name="description"></input>
                        </div>
                  </div>

            </div>
                  

              <div class="input-groups-data col-2">
                    <label for="GroupsList">Groups</label>
                  <ul id="GroupsList">
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                  </ul>
              </div>
            </div>
        </div>


        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
                <label>Inputs:</label>
                <i class="fas fa-plus-circle ml-auto"></i>

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kind</th>
                        <th scope="col">Val</th>
                        <th scope="col">Type</th>
                        <th scope="col">Remove</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Sys Params</td>
                        <td> --- </td>
                        <td>Table</td>
                        <td><i class="far fa-trash-alt"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>text</td>
                        <td>66</td>
                        <td>double</td>
                        <td><i class="far fa-trash-alt"></i></td>

                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>text</td>
                        <td>RV</td>
                        <td>string</td>
                        <td><i class="far fa-trash-alt"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Octopus Param</td>
                        <td><select name="" id="" class="form-control table-select">
                            <option selected class="table-option">BM-Params</option>
                            <option class="table-option">SP-Params</option>
                            </select>
                        </td>
                        <td>DataFrame</td>
                        <td><i class="far fa-trash-alt"></i></td>
                      </tr>
                      
                    </tbody>
                  </table>


            </div>

        </div>

        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
                <div>
                    <h5 class="mb-2">Function Oper Line:</h5>
                        <h5 class="oper_line">your_function(param1, param2, ...., paramN)</h5>                
                    </div>
            </div>
        </div>
            
    </section>

    <section id = "Tree">
        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
                <h4>Tree</h4>
                <div class="mx-auto">
                
                <div class="tree">
                    <h5 class="ml-3">#N223</h5>
                    <div class="row">
                        <textarea class = "tree-text" value="This Node..."></textarea>
                        <i class="fas fa-plus-circle add-icon-tree"></i>
                        <i class="far fa-trash-alt trash-icon-tree"></i>
                    </div>
                    
                </div>
            </div>
            </div>  
        </div>
    </section>

    <script src="../static//js/jquery_3_4_1_min.js"></script>
    <script src="../static//js/Functions_Definitions.js"></script>
  </body>
</html>

