{% extends "layout.html"%}

{% block css %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome/css/all.css')}}" />
  <link rel="stylesheet" href="../static/css/styles.css" />
{% endblock %}
{%block content%}



    <section id="fixed-menus">
      <div class="row">
        <div class="fixed-buttons-div card bg-secondary shadow-lg">
          <a role="button" href="#" class="fix-buttons-ancor" name="new_function_button"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/magic-wand.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor" name="save_function_button"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/save.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/folder-13.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/edit.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/repeat.png')}}"
            alt="Card image cap"
          /></a>
          <a role="button" href="#" class="fix-buttons-ancor"><img
            class="card-img-top img-responsive"
            src="{{url_for('static',filename='icons/play-button-1.png')}}"
            alt="Card image cap"
          /></a>
        </div>
        <div
          class="fixed-fields-div card shadow-lg bg-primary text-light rounded"
        >
          <label for="select_function">Search Function</label>
          <select
            class="form-control"
            name="function_select"
            id="select_function"
          >
            <option value="">a</option>
            <option value="">b</option>
            <option value="">C</option>
          </select>
          <label for="select_user">User</label>
          <div class="row row-fix-form">
            <select
              class="form-control user-select"
              name="owner"
              id="select_user"
            >
              <option value="">a</option>
              <option value="">b</option>
              <option value="">C</option>
            </select>

            <i class="fas fa-user-astronaut fas-7x inline-icon"></i>

          </div>
          <label for="select_version">Version</label>
          <div class = "row row-fix-form">
            <select
              class="form-control version-select"
              name="version"
              id="select_version"
            >
              <option value="">a</option>
              <option value="">b</option>
              <option value="">C</option>
            </select>
            <i class="fas fa-check-circle inline-icon"></i>
            <i class="fas fa-star inline-icon"></i>
          </div>
          <label>Changed Date</label>
          <input class="form-control" name="changed_date" type="text" value="02/02/2020 15:20" disabled ></input>
          <label>Function Checksum</label>
          <input class="form-control" name='function_checksum' type="text" value="66e6s66q8s8ss" disabled></input>
          <label for="">Version Comments</label>
          <textarea class="form-control" name="version_comments" id="" cols="30" rows="7"></textarea>
        </div>
      </div>
    </section>

    <section id = "main-from">

        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
              <div class="input-function-data col-10">

                  <div class="row">
                      <div class="function-input-row col-5">
                        <label>Function Name</label>
                        <input class="form-control" type="text" name="name"></input>
                      </div>
                      <div class="function-input-row col-2">
                        <label>Kind</label>
                        <input class="form-control" type="text" name="kind"></input>
                      </div>
                      <div class="function-input-row col-3">
                        <label>Tags</label>
                        <input class="form-control" type="text" name="tags"></input>
                      </div>
                      <div class="function-input-row col-2">
                        <label>Feature</label>
                        <input class="form-control" type="text" name="features"></input>
                      </div>
                  </div>

                  <div class="row">
                      <div class="function-input-row col-8">
                        <label>Function Callback</label>
                        <input class="form-control" type="text" id="functionCallback" name="callback"></input>
                      </div>
                  </div>


                  <div class="row">
                    <div class="function-input-row col-10">
                      <label>Function Location</label>
                      <input class="form-control" type="text" id="functionLocation" name="Location"></input>

                      <!-- 
                      <div class="custom-file input-group">
                        <input class="custom-file-input" type="file" id="functionLocation" name="location" aria-describedby="myInput">
                        <label class="custom-file-label" id="functionLocationLabel" for="myInput">Choose file</label>
                      </div> -->

                    </div>
                  </div>

                  <!-- <div class="row">
                        <div class="function-input-row col-10">
                            <label>Function Location</label>
                            <input class="form-control" type="text" name="location" id="functionLocation"></input>
                        </div>
                  </div> -->

                  <div class="row">
                        <div class="function-input-row col-10">
                            <label>Description</label>
                            <input class="form-control" type="text" name="description"></input>
                        </div>
                  </div>

                  <div class = "function-input-row">
                    <label> Output </label>
                  </div>

                  <div class = "row">
                    <div class="function-input-row col-3">
                        <input type="checkbox" id="isOutputIsAClass" name="isOutputIsAClass" onclick="calc();">
                        <label for="isOutputIsAClass"> Is a class </label><br>
                    </div>

                    <label> Class Name: </label>
                    <input class="form-control col-4" type="text" id = "className" name="outputClassName"></input>

                  </div>

            </div>


              <div class="input-groups-data col-2">
                    <label for="GroupsList">Groups</label>
                    <ul id="GroupsList">
                    <!-- <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li>
                    <li>group1</li>
                    <li>group2</li>
                    <li>group3</li>
                    <li>group4</li> -->
                  </ul>
              </div>
            </div>
        </div>


        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
                <label>Inputs:</label>
                <button name="plus_param_row_button" class = "ml-auto"> <i class="fas fa-plus-circle"></i></button>
                 <!-- //plus_param_row_button -->

                <table  class="table table-hover" name="function_parameters">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kind</th>
                        <th scope="col">Val</th>
                        <th scope="col">Type</th>
                        <th scope="col">Remove</th>

                      </tr>
                    </thead>
                    <tbody>


                    </tbody>
                  </table>


            </div>

        </div>

        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
                <div>
                    <h5 class="mb-2">Function Oper Line:</h5>
                        <h5 class="oper_line" name = "funcOperLine">your_function(param1, param2, ...., paramN)</h5>
                    </div>
            </div>
        </div>

    </section>

    <!-- <section id = "Tree">
        <div class="card bg-light mb-3 main-form-card">
            <div class="row card-body main-form-card-body">
                <h4>Tree</h4>
                <div class="mx-auto">

                <div class="tree">
                    <h5 class="ml-3">#N223</h5>
                    <div class="row">
                        <textarea class = "tree-text" value="This Node..."></textarea>
                        <i class="fas fa-plus-circle add-icon-tree"></i>
                        <i class="far fa-trash-alt trash-icon-tree"></i>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </section> -->
    {%endblock%}
    {%block scripts%}
    <script src="../static//js/jquery_3_4_1_min.js"></script>
    <script src="../static//js/Functions_Definitions.js"></script>
    {%endblock%}
