{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome/css/all.css')}}" />
<link rel="stylesheet" href="../static/css/toggles.css" />
<link rel="stylesheet" href="../static/css/infras.css" />
<!-- <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> {% block main_form_css %} {% endblock %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
<link href="../static/css/bootstrap-toggle.min.css" rel="stylesheet">

<script src="../static/js/bootstrap-toggle.min.js"></script>
{% endblock %} {%block content%}


<div class="main_form">
    <div class="row layout-buttons-div">
        <input id="project_toggle" type="checkbox" checked data-toggle="toggle" data-on="New" data-off="Existing" data-onstyle="primary" data-offstyle="secondary">
        <button id="Save_Project" aria-label="Save"><i class="far fa-save normal-size" ></i></button>
        <button id="Delete_Project" role="button"><i class="far fa-trash-alt adapt-icon-size"></i></button>
    </div>
    <div class="form-inline">
        <label for="project_select" class="project-label"><h3>Project</h3></label>
        <input name="" id="project_select" class="form-control medium-margin ">
    </div>
    <div class="form-inline">
        <label for="output-dir" class="project-label"><h5>Output directory:</h5></label>
        <input type="text" class="form-control medium-margin" id="output-dir">
    </div>

    <hr>

    <div class="row layout-buttons-div">
        <input type="checkbox" id="site_toggle" checked data-toggle="toggle" data-on="New" data-off="Existing" data-onstyle="primary" data-offstyle="secondary">
        <button id="Save_Site" aria-label="Save"><i class="far fa-save normal-size" ></i></button>
        <button id="Duplicate_Site"><i class="far fa-file-alt adapt-icon-size"></i></button>
        <button id="Delete_Site"><i class="far fa-trash-alt adapt-icon-size"></i></button>
    </div>

    <div class="form-inline">
        <label for="site_select" class="project-label"><h3>Site</h3></label>
        <input name="" id="site_select" class="form-control medium-margin ">
        <div class="form-check-inline medium-margin">
            <input type="checkbox" class="form-check-input" id="is_site_active_cb">
            <label class="form-check-label align-form-label mt-2" for="is_site_active_cb"><h6>Is Active</h6></label>
        </div>
    </div>


    <div class="row mb-auto">
        <div class="col-12 mb-auto site-data-wrapper">

            <div class="row site-data-div">
                <div class="col-5 mb-auto first-column">
                    <div class="form-inline">
                        <label for="Site_Conn"><h5><strong>Site Connection</strong></h5></label>
                        <!-- <input type="text" id="auto_data_IP" class="form-control medium-margin"> -->
                        <select id="Site_Conn" class="form-control medium-margin" type="text">
                            <option value="Tamnon1">Tamnon1</option>
                            <option value="Tamnon2">Tamnon2</option>
                            <option value="Tamnon3">Tamnon3</option>
                            <option value="Tamnon4">Tamnon4</option>
                        </select>
                    </div>

                    <div class="form-inline">
                        <label for="exercise_Conn"><h5><strong>Excersice Connection</strong></h5></label>
                        <!-- <input type="text" id="auto_data_IP" class="form-control medium-margin"> -->
                        <select id="exercise_Conn" class="form-control medium-margin" type="text">
                            <option value="Tamnon1">Tamnon1</option>
                            <option value="Tamnon2">Tamnon2</option>
                            <option value="Tamnon3">Tamnon3</option>
                            <option value="Tamnon4">Tamnon4</option>
                        </select>
                    </div>

                    <div class="form-inline">
                        <label for="Octopus_Conn"><h5><strong>Octopus Connection</strong></h5></label>
                        <!-- <input type="text" id="auto_data_IP" class="form-control medium-margin"> -->
                        <select id="Octopus_Conn" class="form-control medium-margin" type="text">
                            <option value="Tamnon1">Tamnon1</option>
                            <option value="Tamnon2">Tamnon2</option>
                            <option value="Tamnon3">Tamnon3</option>
                            <option value="Tamnon4">Tamnon4</option>
                        </select>
                    </div>
                </div>

                <div class="seperators-div">
                    <i class="fas fa-circle seperator"></i>
                    <i class="fas fa-circle seperator"></i>
                    <i class="fas fa-circle seperator"></i>
                </div>

                <div class="col-5 mb-auto second-column">
                    <div class="form-inline">
                        <label for="recording_db"><h5>Recording DB</h5></label>
                        <select id="recording_db" class="form-control medium-margin" type="text">
                            <option value="Record_DB1">Record_DB1</option>
                            <option value="Record_DB2">Record_DB2</option>
                            <option value="Record_DB3">Record_DB3</option>
                            <option value="Record_DB4">Record_DB4</option>
                        </select>
                        <button id="check_Recording_DB" class="medium-margin"><i class="far fa-check-square"></i></button>
                    </div>
                    <div class="form-inline">
                        <label for="excercise_db"><h5>Excersice DB</h5></label>
                        <select id="excercise_db" class="form-control medium-margin" type="text">
                            <option value="Excersice_DB1">Excersice_DB1</option>
                            <option value="Excersice_DB2">Excersice_DB2</option>
                            <option value="Excersice_DB3">Excersice_DB3</option>
                            <option value="Excersice_DB4">Excersice_DB4</option>
                        </select>
                        <button id="check_excersice_db" class="medium-margin"><i class="far fa-check-square"></i></button>
                    </div>
                    <div class="form-inline">
                        <label for="octopus_db"><h5>Octopus DB</h5> </label>
                        <select id="octopus_db" class="form-control medium-margin" type="text">
                                <option value="Octopus_DB1">Octopus_DB1</option>
                                <option value="Octopus_DB2">Octopus_DB2</option>
                                <option value="Octopus_DB3">Octopus_DB3</option>
                                <option value="Octopus_DB4">Octopus_DB4</option>
                            </select>
                        <button id="check_Octopus_DB" class="medium-margin"><i class="far fa-check-square"></i></button>
                    </div>
                </div>

            </div>
            <div class="additional-data flex-container">
                <div class="first-div">
                    <div class="form-inline">
                        <label for="nets" class="right-align-container"><h5>Nets</h5></label>
                        <input type="text" id="nets" class="form-control medium-margin">
                    </div>
                    <div class="form-inline">
                        <label class="right-align-container" for="stations"><h5>Stations</h5></label>
                        <input type="text" id="stations" class="form-control medium-margin">
                    </div>

                    <div class="form-inline">
                        <label class="right-align-container" for="version_input"><h5>Setup Ver</h5></label>
                        <input type="text" id="version_input" class="form-control medium-margin mr-auto">
                    </div>
                </div>
                <div class="second-div">
                    <div class="form-inline">
                        <label class="right-align-container" for="ext_scenario_filer"><h5>Ext. Scenario Filer</h5></label>
                        <input type="text" id="ext_scenario_filer" class="form-control medium-margin mr-auto">
                    </div>
                    <div class="form-inline">
                        <label class="right-align-container" for="auto_dir "><h5>Auto dir</h5></label>
                        <input type="text" id="auto_dir" class="form-control medium-margin mr-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {%block scripts%}

<script src="../static/js/OctoUtils.js"></script>
<script src="../static/js/infras.js"></script>

{% endblock %}