{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome/css/all.css')}}" />
    <link rel="stylesheet" href="../static/css/toggles.css" />
    <link rel="stylesheet" href="../static/css/infras.css" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    {% block main_form_css %}
    {% endblock %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{%block content%}


<div class="main_form">
    <div class="row layout-buttons-div">
        <input id = "project_toggle" type="checkbox" checked data-toggle="toggle" data-on="New" data-off="Existing" data-onstyle="primary" data-offstyle="secondary">
        <button id = "Save_Project" aria-label="Save"><i class="far fa-save normal-size" ></i></button>
        <button id = "Delete_Project" role="button"><i class="far fa-trash-alt adapt-icon-size"></i></button>
    </div>
    <div class="form-inline">
        <label for="project_select"><h3>Project</h3></label>
        <input name="" id="project_select" class="form-control medium-margin input-medium-size">
            <!-- <option value="Project1">Project1</option>
            <option value="Project2">Project2</option>
            <option value="Project3">Project2</option>
        </select> -->
    </div>
    <div class="form-inline">
        <label for="output-dir"><h5>Output directory:</h5></label>
        <input type="text" class="form-control medium-margin" id="output-dir">
    </div>

    <hr>

    <div class="row layout-buttons-div">
        <input type="checkbox" id = "site_toggle" checked data-toggle="toggle" data-on="New" data-off="Existing" data-onstyle="primary" data-offstyle="secondary">
        <button  id="Save_Site" aria-label="Save"><i class="far fa-save normal-size" ></i></button>
        <button  id="Duplicate_Site"><i class="far fa-file-alt adapt-icon-size"></i></button>
        <button  id="Delete_Site"><i class="far fa-trash-alt adapt-icon-size"></i></button>
    </div>
    <div class="row site-data-div">
        <div class="col-5 mb-auto first-column">
            <div class="form-inline">
                <label for="site_select"><h3>Site</h3></label>
                <select name="" id="site_select" class="form-control medium-margin input-medium-size">
                    <option value="Site1">Site1</option>
                    <option value="Site2">Site2</option>
                    <option value="Site3">Site3</option>
                </select>
                <div class="form-check-inline medium-margin">
                    <input type="checkbox" class="form-check-input" id="is_site_active_cb">
                    <label class="form-check-label align-form-label mt-2" for="is_site_active_cb"><h6>Is Active</h6></label>
                </div>
            </div>
            <div class="form-inline">
                <label for="site_ip"><h5>Site IP</h5></label>
                <input type="text" id="site_ip" class="form-control medium-margin">
            </div>
            <div class="form-inline">
                <label for="excersice_ip"><h5>Excersice IP</h5></label>
                <input type="text" id="excersice_site_ip" class="form-control medium-margin">
            </div>
            <div class="form-inline">
                <label for="auto_data_IP"><h5>Auto data IP</h5></label>
                <input type="text" id="auto_data_IP" class="form-control medium-margin">
            </div>
            <div class="form-inline">
                <label for="nets"><h5>Nets</h5></label>
                <input type="text" id="nets" class="form-control medium-margin">
            </div>
            <div class="form-inline">
                <label for="stations"><h5>Stations</h5></label>
                <input type="text" id="stations" class="form-control medium-margin">
            </div>
        </div>
        <div class="seperators-div">
            <i class="fas fa-circle seperator"></i>
            <i class="fas fa-circle seperator"></i>
            <i class="fas fa-circle seperator"></i>
        </div>
        <div class="col-6 mb-auto second-column">
            <div class="form-inline">
                <label for="version_input"><h5>Version</h5></label>
                <input type="text" id="version_input" class="form-control medium-margin">
            </div>
            <div class="form-inline">
                <label for="recording_db_ip"><h5>Recording DB IP</h5></label>
                <input type="text" id="recording_db_ip" class="form-control medium-margin">

                <!-- <select name="" id="recording_db_ip" class="form-control medium-margin input-medium-size">
                    <option value="Site1">IP1</option>
                    <option value="Site2">IP2</option>
                    <option value="Site3">IP3</option>
                </select> -->
                <!-- <a href="" class="medium-margin" role="button"><i class="far fa-edit"></i></a> -->
                <button  id = "check_Recording_DB_IP" class="medium-margin"><i class="far fa-check-square"></i></button>
            </div>
            <div class="form-inline">
                <label for="excersice_db_ip"><h5>Excersice DB IP</h5></label>
                <input type="text" id="excersice_db_ip" class="form-control medium-margin">

                <!-- <select name="" id="excersice_db_ip" class="form-control medium-margin input-medium-size">
                    <option value="Site1">IP1</option>
                    <option value="Site2">IP2</option>
                    <option value="Site3">IP3</option>
                </select>
                <a href="" class="medium-margin" role="button"><i class="far fa-edit"></i></a> -->
                <button id="check_excersice_db_ip" class="medium-margin" ><i class="far fa-check-square"></i></button>
            </div>
            <div class="form-inline">

               <label for="auto_run_DB_IP"><h5>Auto run DB IP</h5> </ label>
               <input type="text" id="auto_run_DB_IP" class="form-control medium-margin">

                <!-- <select name="" id="auto_run_DB_IP" class="form-control medium-margin input-medium-size">
                    <option value="Site1"> IP1 </ option>
                    <option value="Site2"> IP2 </ option>
                    <option value="Site3"> IP3 </ option>
                </ select>
                <a href="" class="medium-margin" role="button"><i class="far fa-edit"></i></a> -->
                <a href="" id="check_Auto_Run_DB_IP" class="medium-margin" role="button"><i class="far fa-check-square"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block scripts%}

<script src="../static/js/OctoUtils.js"></script>
<script src="../static/js/infras.js"></script>

{% endblock %}
